.font64{
	font-size: 64rpx;
}


.col409{
	color: #409F5F;
}

.br8{
	border-radius: 8rpx;
}

.pd8{
	padding: 8rpx;
}
.mx4{
	margin-left: 4rpx;
	margin-right: 4rpx;
}

.mx22{
	margin-left: 22rpx;
	margin-right: 22rpx;
}

.mx24{
	margin-left: 24rpx;
	margin-right: 24rpx;
}

.mx26{
	margin-left: 26rpx;
	margin-right: 26rpx;
}

.mx156{
	margin-left: 156rpx;
	margin-right: 156rpx;
}

.my26{
	margin-top: 26rpx;
	margin-bottom: 26rpx;
}

.pl24{
	padding-left: 24rpx;
}

.pr30{
	padding-right: 30rpx;
}

.px26{
	padding-left: 26rpx;
	padding-right: 26rpx;
}

.px52{
	padding-left: 52rpx;
	padding-right: 52rpx;
}

.px54{
	padding-left: 54rpx;
	padding-right: 54rpx;
}
.br15{
	border-radius: 15rpx;
}

.br58{
	border-radius: 58rpx;
}

.br68{
	border-radius: 68rpx;
}
.font50{
	font-size: 50rpx;
}

.ml10{
	margin-left: 10rpx;
}

.ml6{
	margin-left: 6rpx;
}

.ml26{
	margin-left: 26rpx;
}

.ml30{
	margin-left: 30rpx;
}

.ml50{
	margin-left: 50rpx;
}

.ml100{
	margin-left: 100rpx;
}

.mr20{
	margin-right: 20rpx;
}

.mb22{
	margin-bottom: 22rpx;
}

.mb24{
	margin-bottom: 24rpx;
}

.pt38{
	padding-top: 38rpx;
}

.pb16{
	padding-bottom: 16rpx;
}

.pb42{
	padding-bottom: 42rpx;
}

.pdt40{
	padding-top: 40rpx;
}

.pdb30{
	padding-bottom: 30rpx;
}

.pdb40{
	padding-bottom: 40rpx;
}
.pb125{
	padding-bottom: 125rpx;
}

.mb15{
	margin-bottom: 15rpx;
}

.mb16{
	margin-bottom: 16rpx;
}

.mb30{
	margin-bottom: 30rpx;
}

.text-center{
	text-align: center;
}

.fontw500{
	font-weight: 500;
}
.fontw600{
	font-weight: 600;
}
.fontw700{
	font-weight: 700;
}
.fontw800{
	font-weight: 800;
}

.mx46{
	margin-left: 46rpx;
	margin-right: 46rpx;
}

.mt15{
	margin-top: 15rpx;
}
.mt5{
	margin-top: 5rpx;
}
.mt29{
	margin-top: 29rpx;
}

.mb29{
	margin-bottom: 29rpx;
}

.bdf{
	border: 1px solid #FFF;
}

.pt32{
	padding-top: 32rpx;
}

.font32{
	font-size: 32rpx;
}

.ml14{
	margin-left: 14rpx;
}

.px69{
	padding-left: 69rpx;
	padding-right: 69rpx;
}

.mt76{
	margin-top: 76rpx;
}

.col555{
	color: #555;
}

.py16{
	padding-top: 16rpx;
	padding-bottom: 16rpx;
}

.br31{
	border-radius: 31rpx;
}